/* assets/style.css */

/* Estilo para el cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo de los encabezados */
h3 {
    color: #00A2E1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el botón de subir archivo */
button {
    background-color: #00A2E1; /* Color azul cig */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff; /* Azul más oscuro al pasar el ratón */
}

button:focus {
    outline: none;
}

/* Centrar el botón en la página */
.upload-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el botón de ejecutar ("Run") */
#run-button {
    background-color: #00A2E1; /* Color cig */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#run-button:hover {
    background-color: #007bff; /* Verde más oscuro al pasar el ratón */
}

#run-button:focus {
    outline: none;
}

/* Centrar el botón de "Run" en la página */
.run-container {
    text-align: center;
    margin-top: 20px;
}

/* Estilo para las tablas */
.dash-table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

.dash-table th, .dash-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.dash-table th {
    background-color: #00A2E1;
    color: white;
}

.dash-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo del dropdown */
.dcc-dropdown {
    margin-bottom: 20px;
}

.dcc-dropdown select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

/* Estilo para los resultados */
#results-table {
    margin-top: 20px;
}

#results-table th {
    background-color: #00A2E1;
    color: white;
}

#selected-row-table th {
    background-color: #00A2E1;
    color: white;
}
#predictor-table th{
    background-color: #00A2E1;
    color: white;
}

hr {
    border: none;              /* Elimina el estilo de línea por defecto */
    height: 2px;               /* Define el grosor */
    background-color: #ccc;    /* Cambia el color de fondo */
    margin: 1.5rem 0;          /* Añade espacio vertical */
    opacity: 0.6;              /* Ajusta la transparencia si quieres */
  }
  



  /* Container (card) for the upload section */
.upload-card {
    width: 25%; /* Adjust according to how small you want it (25% width) */
    margin: 20px auto;
    padding: 10px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .upload-card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  /* "Drag and drop" area */
  .upload-dropzone {
    width: 100%;
    height: 40px;
    line-height: 80px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 8px;
    border-color: #ccc;
    cursor: pointer;
    background: rgba(250,250,250,0.7);
    transition: background 0.2s ease-in-out;
  }
  
  .upload-dropzone:hover {
    background: rgba(250,250,250,1);
  }
  
  /* Icon above the text */
  .upload-icon {
    margin-bottom: 5px;
    opacity: 0.4;
  }
  
  /* Main text inside the card */
  .upload-text {
    font-size: 14px;
    color: #444;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  /* Section title (e.g., "Upload Dataset") */
  .section-title {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Feedback message after file upload or error */
  #output-data-upload {
    text-align: center;
    margin-top: 10px;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }

h1 {
    color: rgb(0, 162, 225);
}
  /* Generic card container */
.card {
    background-color: rgb(220, 241, 247, 0.1) !important;
    border-color: rgba(0, 162, 225,0.3);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    padding: 10px 0px 20px 0px;
    margin: 20px auto;
    max-width: 700px; /* adjust as needed */
    transition: all 0.1s ease;
  }
  .card-big {
    background-color: rgb(220, 241, 247, 0.1) !important;
    border: 1px solid rgba(0, 162, 225, 0.3);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    padding: 10px 0px 20px 0px;
    margin: 20px auto;
    max-width: 1000px; /* adjust as needed */
    transition: all 0.1s ease;
  }
    /* Subtle hover effect on the card */
    .card-big:hover {
      margin-top: -2px; /* Simula "subir" 1-2px */
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
  
  /* Subtle hover effect on the card */
  .card:hover {
    margin-top: -2px; /* Simula "subir" 1-2px */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
.popover {
    z-index: 9999 !important;
}
 