/* assets/style.css */

/* Estilo para el cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo de los encabezados */
h3 {
    color: #00A2E1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el botón de subir archivo */
button {
    background-color: #00A2E1; /* Color azul cig */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff; /* Azul más oscuro al pasar el ratón */
}

button:focus {
    outline: none;
}


  
  /* Section title (e.g., "Upload Dataset") */
  .section-title {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
  }

h1 {
    color: rgb(0, 162, 225);
}
  /* Generic card container */
.card {
    background-color: rgb(220, 241, 247, 0.1) !important;
    border-color: rgba(0, 162, 225,0.3);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    padding: 10px 0px 20px 0px;
    margin: 20px auto;
    transition: all 0.1s ease;
  }
  .card-big {
    background-color: rgb(220, 241, 247, 0.1) !important;
    border: 1px solid rgba(0, 162, 225, 0.3);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
    padding: 10px 0px 20px 0px;
    margin: 20px auto;
    transition: all 0.1s ease;
  }
    /* Subtle hover effect on the card */
    .card-big:hover {
      margin-top: -2px; /* Simula "subir" 1-2px */
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
  
  /* Subtle hover effect on the card */
  .card:hover {
    margin-top: -2px; /* Simula "subir" 1-2px */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
.popover {
    z-index: 9999 !important;
}
 